/*imports*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*roots*/
:root{
    --highlight: #DF8400;
    --white: #fafafa;
    --black: #070707;
    --fade-white: #D9D9D9;
}

/*Main CSS*/
body {
    background-color: var(--black);
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

h1, p{
    margin: 0;
}
h1{
    font-size: 110px;
    font-style: normal;
    line-height: 110%;
    letter-spacing: -2.2px;
    text-align: center;
}

.heading-regular{
    color: var(--white);
    font-weight: 400;
}
.headings-bold{
    color: var(--highlight);
    font-weight: 700;
}
.large-p{
    font-size: 24px;
    font-style: normal;
    line-height: 150%;
    letter-spacing: 0px;
    text-align: center;

    color: var(--fade-white);
    font-weight: 200;
}

.div-body{
    margin-top: 32px;
    margin-bottom: 64px;
}

.button{
    padding: 17px 64px 16px 64px;
    border-radius: 53px;

    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    letter-spacing: 0px;
    text-decoration: none;
    font-weight: 600;
    
    transition: ease-in-out;
    transition-duration: 0.2s;
}

.primary{
    background-color: var(--highlight);
    border: 1px solid;
    border-color: var(--highlight);
}

.primary:hover{
    background-color: var(--black);
    border: 1px solid;
    border-color: var(--highlight);
    color: var(--white);
}

.section-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 226px 0 234px 0;
}