.div {
    display: flex;
    width: 100%;
    max-width: 1780px;
    gap: 20px;
    justify-content: space-between;
    padding: 32px 0;
  }
  @media (max-width: 991px) {
    .div {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-2 {
    display: flex;
    align-items: center;
    gap: 7px;
  }
  .img {
    aspect-ratio: 2.38;
    object-fit: auto;
    object-position: center;
    width: 36px;
    fill: #fff;
    align-self: stretch;
    margin: auto 0;
  }
  .div-3 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
  }
  .div-4 {
    background-color: rgba(118, 199, 209, 1);
    height: 14px;
  }
  .div-5 {
    background-color: rgba(82, 51, 118, 1);
    height: 14px;
  }
  .div-6 {
    background-color: rgba(222, 133, 38, 1);
    height: 14px;
  }
  .div-7 {
    background-color: rgba(255, 229, 0, 1);
    height: 14px;
  }
  .img-2 {
    aspect-ratio: 6.25;
    object-fit: auto;
    object-position: center;
    width: 128px;
    fill: #fff;
    align-self: stretch;
    max-width: 100%;
    margin: auto 0;
  }
  .div-8 {
    display: flex;
    gap: 20px;
    font-size: 18px;
    line-height: 150%;
    justify-content: space-between;
    margin: auto 0;
  }
  @media (max-width: 991px) {
    .div-8 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-9 {
    display: flex;
    gap: 20px;
    color: var(--Dark-White, #b8b8b8);
    font-weight: 400;
    justify-content: space-between;
    margin: auto 0;
  }
  @media (max-width: 991px) {
    .div-9 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-10 {
    font-family: Montserrat, sans-serif;
  }
  .div-11 {
    font-family: Montserrat, sans-serif;
  }
  .div-12 {
    font-family: Montserrat, sans-serif;
  }
  .div-13 {
    font-family: Montserrat, sans-serif;
  }
  .div-14 {
    font-family: Montserrat, sans-serif;
  }
  .div-15 {
    display: flex;
    gap: 20px;
    color: var(--White, #fff);
    justify-content: space-between;
  }
  .div-16 {
    display: flex;
    gap: 12px;
    font-weight: 400;
    white-space: nowrap;
    margin: auto 0;
  }
  @media (max-width: 991px) {
    .div-16 {
      white-space: initial;
    }
  }
  .div-17 {
    font-family: Montserrat, sans-serif;
  }
  .img-3 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 16px;
    margin: auto 0;
  }
  .div-18 {
    font-family: Montserrat, sans-serif;
    justify-content: center;
    border-radius: 63px;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 1px;
    font-weight: 600;
    padding: 17px 30px 16px;
  }
  @media (max-width: 991px) {
    .div-18 {
      padding: 0 20px;
    }
  }